<div class="col-md-6 user-container">
  <h2 class="text-center">Registrar Encuesta</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nombres">Nombres:</label>
      <input type="text" formControlName="nombres" placeholder="nombres" name="nombres" class="form-control"
        id="nombres">
    </div>

    <div class="form-group">
      <label for="apellidos">Apellidos:</label>
      <input type="text" formControlName="apellidos" placeholder="apellidos" name="apellidos" class="form-control"
        id="apellidos">
    </div>

    <div class="form-group">
      <label for="edad">Edad:</label>
      <input type="number" formControlName="edad" placeholder="edad" name="edad" class="form-control" id="edad">
    </div>

    <div class="form-group">
      <label for="profesion">Profesión:</label>
      <input formControlName="profesion" placeholder="Profesión" name="profesion" class="form-control" id="profesion">
    </div>

    <div class="form-group">
      <label for="lugartrabajo">Lugar Trabajo:</label>
      <input formControlName="lugartrabajo" placeholder="Lugar Trabajo" name="lugartrabajo" class="form-control"
        id="lugartrabajo">
    </div>

    <div class="form-group">
      <label for="respuesta">Respuesta:</label>
      <input type="text" formControlName="respuesta" placeholder="Respuesta" name="respuesta" class="form-control"
        id="respuesta">
    </div>

    <button class="btn btn-success">Registrar</button>
  </form>
</div>